html {

}

body {
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
  height: 50px;
  background-color: rgb(165, 20, 23);
}

#logo {
  position: absolute;
  left: 50px;
  top: 0px;
  height: 50px;
}
